#PortMap {
	height: 800px;
	width: 800px;
}

#Choropleth {
	margin-top: 0px;
	height: 800px;
	width: 800px;
	float: left;
}

#MapContainer {
	display: flex;
}
.map{
	padding: 20px;
	border: #353535;
	margin-right: 8px;
}
.legend {
    line-height: 18px;
    color: #353535;
	background-color: rgb(255, 255, 255);
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}